<div class="container">
<img src="/images/beer.png" alt="Beer">
<button action="/beers" method="GET"><a href="/beers">Check the Beers!</a></button>
<button action="/random-beer" method="GET"><a href="/random-beer">Check a Random Beer!</a></button>
</div>